<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Autor</title>
</head>
<body>

<h1>Cadastrar Autor</h1>
<form method="post" action="cadastrarAutor">
    <label> Nome do Autor: </label><br>
    <input type="text" name="nome"/> <br>

    <label>E-mail do autor: </label><br>
    <input type="email" name="email" /><br>

    <label>Data de nascimento do autor: </label> <br>
    <input type="date" name="dataNascimento" /><br>
    <input type="submit" value="cadastrar" />
</form>


</body>
</html>

//Copiado do projeto anterior